 <div class="category-boxes">
	      <a href="/c/get-started" class="category-box" style="border-color: #FFC857">
                  <h3>Getting started</h3>
                  <p>Introduce yourself, meet other members, read the community guidelines, and learn about the platform.</p>
              </a>
	      <a href="https://forum.rebus.community/c/open-textbooks-in-development/10" class="category-box" style="border-color: #048A81">
    			  <h3>Open Textbook Directory</h3>
    			  <p>Start an open textbook project, browse in-progress open textbooks, and share new releases.</p>
		  </a>
	      <a href="/c/opc" class="category-box" style="border-color: #3BCEAC">
    			  <h3>Open Publishing Certificate</h3>
    			  <p>Learn about our professional development certificate course for OER creation teams.</p>
		  </a>
	      <a href="/tag/cfp" class="category-box" style="border-color: #37B5B5">
    			  <h3>Contributor Marketplace</h3>
    			  <p>Post or respond to calls for authoring, editing, reviewing, and more. Brainstorm about new open textbook projects.</p>
		  </a>
	      <a href="/c/help-questions" class="category-box" style="border-color: #F5A623">
    			  <h3>Help & Questions</h3>
    			  <p>Give and receive advice about publishing open textbooks and OER in general. Post questions or feedback about the platform.</p>
		  </a>
	      <a href="/c/news-discussion-events" class="category-box" style="border-color: #CD4B18">
    			  <h3>News, Discussion, Events</h3>
    			  <p>Share your announcements, news, and upcoming events. Start a discussion on the OER theme of your choice.</p>
		  </a><!--
	      {{#each categories as |c|}}
	      <a href="/c/{{c.slug}}" class="category-box {{c.slug}}" style={{border-color c.color}}>
    			  {{category-title-link category=c}}
    			  <p>{{dir-span c.description_excerpt}}</p>
		  </a>
	      {{/each}}--> 
	  </div>